VITE_FIREBASE_API_KEY=AIzaSyCFb3H9z5e2SxUUYdkICKq4HnhASUCvnjo
VITE_FIREBASE_AUTH_DOMAIN=appcarro-d3c92.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=appcarro-d3c92
VITE_FIREBASE_STORAGE_BUCKET=appcarro-d3c92.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=555656143921
VITE_FIREBASE_APP_ID=1:555656143921:web:8de56f5ebeaa3475286110
